body{
    background-image: url("../images/index-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.login-button{
    position: absolute;
    left : 22.5%;
    top : 80%;
    transform : translate(-50%, -50%);
}
button{
    background:#ED2939;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#fff;
    color:#ED2939;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #ED2939;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }