<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type="text/css" href="css/index.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.0/cjs/popper-base.min.js"></script>
        <script src="js/index.js"></script>
        <script src="../node_modules/web3/src/index.js"></script>
    </head>
    <body>
        <div class = "login-button">
            <button type="button" onClick="location.href='http://localhost:3000/main'">Login!</button>
        </div>
    </body>
</html>