<!doctype html>
<html lang="en">
  <head>
    <%- include('./partial/head2') %>
      <!--jqeury--> 
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- source file-->
    <style>
      body {
        width: 100%;
        height: 100%;
        height: 100%;
        background-image: url('/css/background_image.jpg');
        background-repeat:none;
        background-size: cover;
      }

      html {
        background-color: white;
      }

      a {
        color:white;
      }

      .mainpage {
        margin-bottom: 300px;
      }

      .secondpage {    
        border: 5px solid ;    
        padding-top: 100px; 
        padding-bottom: 100px;
        margin-top:0;
      }

      .thirdpage {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 150px;
        margin-bottom: 100px;
        background-color: white;
        border: 5px solid;
        color: black;
      }

      .container {
        margin: 200px;              
      }

      .developer {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 50px;
      }

      .deimg {
        margin-bottom:30px;
      }

      .lead1 {
        font-size: 20px; 
        font-weight: 500; 
        animation:none;       
      }
      /*
      .Bae {
        margin-top: 50px;   
        text-align: left; 
        font-size: 25px;  
        
      }

      .Shin {
        margin-top: 50px;
        text-align: left;
        font-size: 25px;        
      }
      */
      img {
        margin-bottom: 5%;
        margin-left: 10%;
        margin-right: 10%;
        width: 200px;
        height: 200px;
        border: 2px solid black;
        border-radius: 50%;
        text-align:left;
        vertical-align: 30;        
      }

      .intro-name {
        margin-left: 15%;
        margin-right: 15%;
        font-size: 30px;
        font-weight: 600;
      }

      .intro-role {
        margin-top: 30px;
        margin-left: 78px;
        margin-right: 80px;
        font-size: 25px;
        font-weight: 530;
      }

      .intro-major {
        margin-top: 30px;
        margin-left: 35px;
        margin-right: 65px;
        font-size: 25px;
        font-weight: 530;
      }

      .intro-team {
        margin-top: 30px;
        margin-left: 100px;
        margin-right: 35px;
        font-size: 25px;
        font-weight: 530;
        
      }
      

    </style>
  </head>

  <body class="text-center">
    <div id="bg" class="cover-container d-flex w-200 h-500 p-3 mx-auto flex-column">
  
  <!--헤더 부분-->      
      <header class="masthead">
        <%- include('./partial/nav') %>
      </header>
      <!--헤더 부분 끝-->

      <!--가운데 메인 부분-->
      <main role="main" class="inner cover">
        <section class= "mainpage">
          <h1 class="cover-heading animated fadeIn"><b style="font-size: 45px;">Survey Service :</b><b style="font-size:36px;">블록체인 기반 설문조사 플랫폼</b></h1>      
          <br><p class="lead">다른 사람의 설문을 작성하여 코인을 얻고, 나의 설문을 등록해 보세요<br></p>
          
          <div class="container;" style="text-align:center;">
            <div class = "circle_button" float:left>
              <a href= "#" style="color:white;"><b>Quick Survey</b></a>
            </div>
            <div class = "circle_button" float:left>
              <a href= "/surveylist" style="color:white;"><b>Survey List</b></a>
            </div>
            <div class = "circle_button" float:left>
              <a href= "/create_survey" style="color:white;"><b>Create Survey</b></a>
            </div>          
            <div class="description mb-30"><b>
              <h4 class="quick">Quick Survey: 현재 가장 빠르게 참여할 수 있는 설문조사를 확인하세요!</h4>
              <h4 class="list">Survey List: 현재까지 등록되어 있는 설문조사를 확인하세요!</h4>
              <h4 class="create">Create Survey: 필요한 설문조사지를 등록하세요!</h4></b>
            </div>
          </div>
        </section>

        <section class= "secondpage" style="color:black;">
          <p class="cover-heading mb-300" style="font-size: 40px; font-weight:700;">Why Blockchain?</p><br><br><br>
          <div style="margin-bottom: 40px;"> 
            <p class="lead1">
              블록체인은 거래의 투명성과 데이터의 보안성을 보장합니다.<br><br>
              필요한 설문조사 결과를 안전하게 저장하고, 배포할 수 있습니다. <br><br>
              토큰을 통해 설문조사에 참여하고, 참여자들에게 보상을 전달해보세요!<br><br>
            </p>
          </div>          
        </section>
        
        <section class="thirdpage">
          <div class="developer"> Developer </div>
            <div class="deimg">
              
              <img src="/css/Bae.jpg" alt="준비중" class="Bimg">           
              <img src="/css/Shin.jpg" alt="준비중" class="Simg">
              <div class="intro">
                <span class="intro-name">배준호</span> 
                <span class="intro-name">신민승</span>
              </div>
              <div class="intro">
                <span class="intro-role">Back-End Developer</span> 
                <span class="intro-role">Front-End Developer</span>
              </div>
              <div class="intro">
                <span class="intro-major">중어중문학과 / 컴퓨터공학과</span> 
                <span class="intro-major">스포츠과학과 / 통계학과</span>
                <div class="intro">
                  <span class="intro-team">Skkrypto: 개발팀 </span> 
                  <span class="intro-team">Skkrypto: 기획팀 / 개발기초팀</span>
              </div>
            </div>
         
        </section>
  </main>  
  
   

<!--맨 아랫부분-->
  <footer class="mastfoot mt-300">
      <div class="inner">
      <br><p style="color:black;">Prototype for <a href="https://getbootstrap.com/" style="color:blue;">survey service</a></p>
    </div>
  </footer>
</div>
</body>

<script type="text/javascript" src="js/home.js"></script>
  
</html>
